.auto-wrap {
    min-height: 100vh;
    padding: 24px;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(45deg,
            #cefffe 0%,
            #dfdcfc 48%,
            #f1d1d5 100%);
}

.box-wrap {
    margin: auto;
    padding: 24px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    width: 1200px;
}

.back-btn {
    color: #fff;
    width: 26px;
    height: 26px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #9d9ceb;
    padding:3px ;
    /* will-change: filter;
    transition: filter 300ms; */
}

.back-btn:hover {
    filter: drop-shadow(0 0 1em #9d9ceb);

}


.threeD {
    color: #fff;
    font-size: 46px;
    /*设置字体大小*/
    font-weight: 600;
    /*设置字体粗细*/
    letter-spacing: 2px;
    text-shadow: 1px 0px #afaef8, 1px 2px #e897f0, 3px 1px #807ff1,
        2px 3px #afaef8, 4px 2px #f097a3, 4px 4px #afaef8, 5px 3px #807ff1,
        5px 5px #afaef8, 7px 4px #807ff1, 6px 6px #afaef8, 8px 5px #807ff1,
        7px 7px #afaef8, 9px 6px #807ff1, 9px 8px #afaef8, 11px 7px #807ff1;
    /*设置文字阴影*/
}

.threeD:hover {
    cursor: pointer;
    text-shadow: 2px 0px #afaef8, 1px 2px #e897f0, 3px 1px #807ff1,
        2px 3px #afaef8, 4px 2px #f097a3, 4px 4px #afaef8, 5px 3px #807ff1
}

.tag {
    display: inline-block;
    padding: 6px 12px;
    color: #614a4a;
    font-family: "MaoKenWangXingYuan",sans-serif;
    font-size: 16px;
    background-color: #d9d8f8;
    border-radius: 6px;
    border-right: 3px solid #9d9ceb;
    border-top: 3px solid #afaef8;
  }
